Package: sixarm-debian-sqlite3-packages
Version: 1.0.2
Section: devel
Priority: optional
Architecture: all
Depends: sqlite3, libsqlite3-0, libsqlite3-dev, libsqlite3-ocaml, libsqlite3-ocaml-dev, libdbd-sqlite3, libdbd-sqlite3-perl, libdbd-sqlite3-ruby, libdbd-sqlite3-ruby1.8, libsoci-sqlite3-gcc, libdataobjects-sqlite3-ruby1.8
Maintainer: Joel Parker Henderson <joel@sixarm.com>
Description: sqlite3 packages we like to use
 sqlite3 packages we like to use together.

